
@{
    Layout = "_AdminLayout";
}
@model IEnumerable<Blog.Administrator.Models.Posts>


<section class="adminBody">
    <div class="container admin_outline_border p-4">
        <div class="row">

            <div class="col-3 px-5 py-3">
                <!--Left Side-->
                <div class="row aside_background d-flex align-items-center">
                    <a class="d-flex align-items-center ps-5" asp-controller="Admin" asp-action="AddPost"><i class="bi bi-pencil pe-3"></i> Add Post</a>
                </div>
                <div class="row aside_background">
                    <a class="d-flex align-items-center ps-5" asp-controller="Admin" asp-action="ManagePosts"><i class="bi bi-folder2-open pe-3"></i> Manage Post</a>
                </div>
                <div class="row aside_background">
                    <a class="d-flex align-items-center ps-5" asp-controller="Admin" asp-action="AddUser"><i class="bi bi-person-add pe-3"></i> Add User</a>
                </div>
                <div class="row aside_background">
                    <a class="d-flex align-items-center ps-5" asp-controller="Admin" asp-action="ManageUser"><i class="bi bi-people-fill pe-3"></i> Manage User</a>
                </div>
                <div class="row aside_background">
                    <a class="d-flex align-items-center ps-5" asp-controller="Admin" asp-action="AddCategory"><i class="bi bi-pencil-square pe-3"></i> Add Category</a>
                </div>
                <div class="row aside_background">
                    <a class="d-flex align-items-center ps-5" asp-controller="Admin" asp-action="ManageCategory"><i class="bi bi-menu-button-wide pe-3"></i> Manage Categories</a>
                </div>
            </div>

            <div class="col-9 px-5 py-3">
                <!--Right Side-->
                <div class="row mb-3">
                    <!--Heading-->
                    <h1 class="text-white m-0 p-0">Manage Posts</h1>
                </div>

                <div class="row d-flex align-items-center ">
                    <!--Table Heading-->
                    <div class="col-6 admin_tableTop_Background">
                        <label class="text-white">Title</label>
                    </div>
                    <div class="col-2 admin_tableTop_Background">
                        <label class="text-white">Category</label>
                    </div>
                    <div class="col-2 admin_tableTop_Background">
                        <label class="text-white">Edit</label>
                    </div>
                    <div class="col-2 admin_tableTop_Background">
                        <label class="text-white">Delete</label>
                    </div>
                </div>
                <div class="row d-flex align-items-center ">
                    <!--data on posts etc-->
                    @foreach(var obj in Model)
                    {
                        <div class="row admin_data_for_tbl mx-0 mt-0 mb-1 p-0">
                            <!--row by row data in the table-->
                            <div class="col-6 right_bd">
                                <p class="text-white">
                                    @obj.PostTitle
                                </p>
                            </div>
                            <div class="col-2 right_bd d-flex align-items-center justify-content-start">
                                <p class="text-white">@obj.CategoryTitle</p>
                            </div>
                            <div class="col-2 right_bd d-flex align-items-center justify-content-center">
                                <!-- The "asp-route-ID" allows us access to only get the selected record information to update-->
                                <a asp-controller="Admin" asp-action="EditPost" asp-route-ID="@obj.PostID" id="btnEdit" class="text-center text-decoration-none w-100 rounded px-2 py-1">Edit</a>
                            </div>
                            <div class="col-2 right_bd d-flex align-items-center justify-content-center">
                                <a href="" id="btnDelete" class="text-center text-decoration-none w-100 rounded px-2 py-1">Delete</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>

</section>

