@{
    Layout = "layout_LandingPage";
}

<!--Search Bar Section-->


<div class="row mt-5 d-flex justify-content-center">
    <section class="search_Bar mt-5 w-50">
        <div class="mt-1">
            <form class="search_Bar_container rounded" action="">
                <div>
                    <i class="bi bi-search text-white"></i>
                    <input type="search" class="text-white" id="searchBlog" placeholder="Search">
                </div>
                <button type="submit" id="searchBtn_blog" class="btn">Go</button>
            </form>
        </div>
    </section>
</div>
<!--End of Search Bar Section-->
<!--Posts Section-->
<section class="posts">
    <div class="w-100 mt-4">
        <div class="row mt-3 mx-5 mb-3">
            <!--post row-->
            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row mt-5 mx-5 ">
            <!--post row-->
            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row mt-5 mx-5 ">
            <!--post row-->
            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/16bcf4a96fe9309792602363f698d627.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!----------------END OF Posts Section----------------------------------->