@{
    Layout = "layout_LandingPage";
}

@{
    ViewData["Title"] = "Home Page";
}

<section class="featured">
    <div class="container featured_container mx-3">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 pt-5">
                <div class="featured_img mx-4 mt-5">
                    <img class="w-100 h-100 blog_featured_img" src="/Images/illusionImg.jpg">
                </div>
            </div>
            <div class="col-md-6 col-12 mt-md-5 mt-3">
                <div class="featured_info">
                    <div class="row-auto h-auto category_button mb-2 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <div class="row text-wrap ">
                        <h3 class="post_title ">
                            <a class=" w-100 text-white text-decoration-none fw-bold m-0 p-0" href="#">
                                This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Iure, sequi dolores! Excepturi ut aut quas.
                            </a>
                        </h3>
                    </div>

                    <div class="row text-wrap w-100">
                        <label class="post_body text-white">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                            Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                        </label>
                    </div>

                    <div class="row mt-3 h-100">
                        <div class="col-md-2 d-none d-md-block">
                            <div class="featured_half_img w-100">
                                <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                            </div>
                        </div>
                        <div class="col-md-4 col-12 h-100">
                            <div class="row">
                                <div class="col-12">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="text-white">June 08 2018: 19:18</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Posts Section-->
<section class="posts">
    <div class="w-100 mt-4">
        <div class="row mt-3 mx-5 mb-3">
            <!--post row-->
            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="post.html" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row mt-5 mx-5 ">
            <!--post row-->
            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row mt-5 mx-5 ">
            <!--post row-->
            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/robbery_man.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 post-column">
                <!--post column-->
                <div class="post-content w-75">
                    <div class="post_img mb-3">
                        <img class="w-100 h-100 blog_post_img" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                    </div>
                    <div class="row-auto h-auto category_button mb-1 text-center text-align-center rounded">
                        <a href="#" class="w-100 px-3 h-auto catergory_link_text">Wild Life</a>
                    </div>
                    <label class="sub_post_title mb-1">
                        <a class="text-white text-decoration-none fw-bolder" href="#">
                            This post This post Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Iure, sequi dolores! Excepturi ut aut quas.
                        </a>
                    </label>
                    <label class="sub_post_body text-white">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore fugit iusto maxime aut temporibus et delectus!
                        Assumenda earum illum eos odit, officia eum placeat aliquam a debitis explicabo doloribus quo.
                    </label>
                    <div class="post-meta w-100 h-100 mt-3">
                        <div class="row w-100">
                            <div class="col-md-2 d-none d-md-block">
                                <div class="featured_half_img w-100">
                                    <img class="featured_img_class h-100 w-100" src="/Images/69a95f0fc7de4556033b5978e6254086.jpg">
                                </div>
                            </div>

                            <div class="col-md-4 col-12 text-nowrap">
                                <div class="row w-100">
                                    <label class="text-white"><b>By: Annebel Hilary</b></label>
                                </div>
                                <label class="text-white">June 08 2018: 19:18</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!----------------END OF Posts Section----------------------------------->
